*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
html {
  scroll-padding-top: 4.5rem;
}
/* ---- General Styles ----*/

.btn {
  color: rgb(37, 37, 37);
  background-color: #f3cdcd;
  border-color: #f3cdcd;
  border: 0 !important;
  outline: 0 !important;
}

.btn:hover {
  color: #fff;
  background-color: rgb(207, 182, 182);
  border-color: rgb(207, 182, 182);
}

/*---- Navbar ----*/
.navbar {
  background-color:#badfe0; 
   padding:15px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.nav-link,
.navbar-brand {
    letter-spacing: 4px;
    cursor: pointer;   
}
.nav-link {
    margin-right: 1em;
}

.navbar-collapse {
    justify-content: flex-end;
}
/*---- Header ----*/
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: cover;
}

/* ---- Cat Portfolio ----*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.883);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-list{
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#portfolio .portfolio-item {
  max-width:450px;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 253, 253);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.20s;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 20%;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0;
}

.portfolio-modal .modal-dialog {
  margin: 1.5rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.mobile-btn{
font-weight: 700;
color: rgb(37, 37, 37);
background-color: #f3cdcd;
border: 0;
outline: 0;
}
@media (min-width: 992px) {
  .mobile-btn {
    display: none;
  }
}

@media (max-width: 575.98px) {
  #portfolio .portfolio-item .portfolio-caption {
   border-bottom: 2px solid #dddddd;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
/*---- Testimonial ----*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-left:4rem;
  margin-right:4rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

/*---- Team Members ----*/
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid #f3cdcd;
}

/*---- Footer ----*/
.footer {
  background-color: #badfe0;
}
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
